<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student input form</title>
</head>
<body>
<form th:action="@{/process-student-form}" method="post" th:object="${student}">
    <label>
        <input type="text" placeholder="enter firstname" th:field="*{firstname}" />
    </label><br /><br/>
    <label>
        <input type="text" placeholder="enter lastname" th:field="*{lastname}" />
    </label><br /><br />
    <label>
        <input type="number" placeholder="enter age" th:field="*{age}" />
    </label><br /><<br />

<!--    <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>-->
<!--//THIS SPAN IS FOR ONLY FOR STYLING CSS OVER ERROR IF ANY ERRORS ARE OCCURED -->


    <select th:field = "*{university}">
        <option th:value="vitvellore">VIT VELLORE</option>
        <option th:value="vitchennai">VIT CHENNAI</option>
        <option th:value="vitBHOPAL">VIT BHOPAL</option>
        <option th:value="srm">SRM</option>
        <option th:value="amritha">AMRITHA</option>
    </select><br /><<br />

    <input type="radio" th:field="*{favsub}" th:value ="cse">CSE</input>
    <input type="radio" th:field="*{favsub}" th:value ="ece">ECE</input>
    <input type="radio" th:field="*{favsub}" th:value ="chemical">CHEMICAL</input>
    <input type="radio" th:field="*{favsub}" th:value ="civil">CIVIL</input><br /><br />

    <input type="checkbox" th:value="macbook" th.field="*{checkbox}" >MACBOOK<input>
    <input type="checkbox" th:value="windows" th.field="*{checkbox}" />WINDOWS<input>
    <input type="checkbox" th:value="linux" th.field="*{checkbox}" />LINUX<input>
    <input type="checkbox" th:value="opra" th.field="*{checkbox}" />OPERA<input><br /><br />

    <button type="submit">Submit</button>
</form>

</body>
</html>